<h1>Are you sure</h1>
<style>table, th, td {
    border: 1px solid black
}</style>
<a href="success.html"> YES</a>
<a href="list.html"> NO</a>
<h2>Hóa đơn</h2>
<table style='width:100%'>
    <tr>
        <td>Món</td>
        <td>Giá</td>
        <td>Số lượng</td>
    </tr>
    <tr>
        <td>{{food}}</td>
        <td>{{price}}</td>
        <td>{{quantity}}</td>
    </tr>
    <tr>
        <td>{{food1}}</td>
        <td>{{price1}}</td>
        <td>{{quantity1}}</td>
    </tr>
</table>
<p>
    <b>Tổng tiền: {{ total }} đ</b>
</p>