<style>table, th, td {
    border: 1px solid black
}</style>
<!DOCTYPE html>
<html>
<head>
<title>Checkout</title>
</head>
<body>
<h1>Checkout</h1>
<h3>Your Cart</h3>
<ul>
<h2>Hóa đơn</h2>
<table style='width:100%'>
    <tr>
        <td>Món</td>
        <td>Giá</td>
        <td>Số lượng</td>
    </tr>
    <tr>
        <td>{{food}}</td>
        <td>{{price}}</td>
        <td>{{quantity}}</td>
    </tr>
    <tr>
        <td>{{food1}}</td>
        <td>{{price1}}</td>
        <td>{{quantity1}}</td>
    </tr>
</table>
<hr>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">
    submit
    </button>
</form>
<p>
    <b>Tổng tiền: {{ total }} đ</b>
</p>

</body>
</html>