<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Sign up</h1>
        User Name: <input type="text" name="user_namesu"></input>
        <br>
        Password: <input type="password" name="passwordsu"></input>
        <br>
        <button type="submit">Complete</button>
    </form>
</body>
</html>